{{#with data ~}}
= prismic-io test page

== Section
:leveloffset: 1

{{#each group}}

{{{asAsciidoc this.section }}}

{{{asAsciidoc this.par }}}
{{/each}}

= Here's a list

{{#each body}}
  {{~#ifeq this.slice_type 'multi-level_list'}}
    {{~#each this.items}}

{{{asAsciidoc this.list_item level=this.level}}}
    {{~/each}}
  {{~/ifeq}}
  {{~#ifeq this.slice_type 'embed_test'}}
    {{~#each this.items}}
      {{{wrapEmbed this.oembed}}}
    {{~/each}}
  {{~/ifeq}}
  {{~#ifeq this.slice_type 'image_test'}}
    {{~#each this.items}}
{{{wrapImage this.image}}}
    {{~/each}}
  {{~/ifeq}}
{{/each}}

= That's all, folks!
{{/with}}
