{{#with data ~}}
= {{{asText title}}}

{{#each body}}
{{#if this.slice_label}}
== {{this.slice_label}}

{{/if}}
{{#ifeq this.slice_type 'text'}}
{{{asAsciidoc this.primary.text role='link-class foo'}}}

{{/ifeq}}
{{#ifeq this.slice_type 'quote'}}
[quote]
____
{{asText this.primary.quote}}
____

{{/ifeq}}
{{#ifeq this.slice_type 'image_with_caption'}}
  {{~#ifeq this.slice_label 'emphasized'}}
    {{~#if this.primary.caption}}
.{{asText this.primary.caption}}
    {{~/if}}
{{{wrapImage this.primary.image role='emphasized foo' width='50%'}}}

  {{~/ifeq}}
  {{~#ifeq this.slice_label null}}
    {{~#if this.primary.caption}}
.{{asText this.primary.caption}}
    {{~/if}}
{{{wrapImage this.primary.image}}}

  {{~/ifeq}}
  {{~#ifeq this.slice_label 'image-full-width'}}
    {{~#if this.primary.caption}}
.{{asText this.primary.caption}}
    {{~/if}}
{{{wrapImage this.primary.image width='100%'}}}

  {{/ifeq}}
{{/ifeq}}
{{/each}}
{{/with}}
