{{#with data ~}}
= {{{asText headline}}}

{{{asText description}}}

{{#with (query 'blog:posts/blog.hbs')}}
{{#each this}}

== xref:posts/{{uid}}.adoc[] ({{data.date}})

{{{asAsciidoc (firstParagraph data.body)}}}

{{/each}}
{{/with}}

== Blog pages from `listLinksFromQuery`

{{{listLinksFromQuery 'posts/blog.hbs' '*' role='link-class foo'}}}

== Blog first paragraphs from no-template query

{{#with (query 'blog:posts/blog-posts')}}
  {{#each this}}

== {{{asText data.title}}}

{{{asAsciidoc (firstParagraph data.body)}}}

  {{/each}}
{{/with}}

{{/with}}
